web/WEB-INF/wsdl/myevents.idealabgym.com/servicios/homeservice.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/Servicios/Home" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/Servicios/Home" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/Servicios/Home">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eventos">
        <s:complexType />
      </s:element>
      <s:element name="EventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventosResult" type="tns:ArrayOfEvento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEvento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evento">
        <s:complexContent mixed="false">
          <s:extension base="tns:Persistent">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipoEvento" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaHora" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Lugar" type="tns:Lugar" />
              <s:element minOccurs="0" maxOccurs="1" name="Imagen" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EdadMinima" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CreadoPor" type="tns:Usuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Patrocinadores" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Persistent" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:Persistent">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipoUsuario" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CorreoElectronico" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TipoUsuario">
        <s:restriction base="s:string">
          <s:enumeration value="ADMINISTRADOR" />
          <s:enumeration value="CLIENTE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Lugar">
        <s:complexContent mixed="false">
          <s:extension base="tns:Persistent">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TipoEvento">
        <s:restriction base="s:string">
          <s:enumeration value="POP" />
          <s:enumeration value="ROCK" />
          <s:enumeration value="BANDA" />
          <s:enumeration value="LATINO" />
          <s:enumeration value="VIVO" />
          <s:enumeration value="INFANTIL" />
          <s:enumeration value="OTRO" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="EventosSoapIn">
    <wsdl:part name="parameters" element="tns:Eventos" />
  </wsdl:message>
  <wsdl:message name="EventosSoapOut">
    <wsdl:part name="parameters" element="tns:EventosResponse" />
  </wsdl:message>
  <wsdl:portType name="HomeServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eventos">
      <wsdl:input message="tns:EventosSoapIn" />
      <wsdl:output message="tns:EventosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HomeServiceSoap" type="tns:HomeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://localhost/Servicios/Home/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eventos">
      <soap:operation soapAction="http://localhost/Servicios/Home/Eventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HomeServiceSoap12" type="tns:HomeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://localhost/Servicios/Home/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eventos">
      <soap12:operation soapAction="http://localhost/Servicios/Home/Eventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeService">
    <wsdl:port name="HomeServiceSoap" binding="tns:HomeServiceSoap">
      <soap:address location="http://myevents.idealabgym.com/servicios/homeservice.asmx" />
    </wsdl:port>
    <wsdl:port name="HomeServiceSoap12" binding="tns:HomeServiceSoap12">
      <soap12:address location="http://myevents.idealabgym.com/servicios/homeservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>